.idea
*.env
ruslychat-client/target
ruslychat-api/target

ruslychat-client/output/
ruslychat-api/output/

ruslychat-client/Cargo.lock
ruslychat-api/Cargo.lock

ruslychat-client/logs/
ruslychat-api/logs/

ruslychat-api/certificates/*